@charset "UTF-8";
/* header */
header {
    background-color: white;
    height: 70px; 
    width: 100%; 
    border-bottom: 1px solid #CCCCCC;
}

header .bnb_logo {
    display: block;
    margin-left: 20px;
    margin-top: 5px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    height: 100%;
}
