body {
    color:#484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    position: absolute;
    margin:0;
    padding:0;
}
.container {
    margin: auto;
    max-width:1000px;