.places {
    text-align:center;
}
h1 {
    padding:0px;
    font-size:30px;

 article {
    margin:20px;
    padding:20px;
    width:390px;
    border:solid 1px #FF5A5F;
    font-size:30px;
}

article h2 {
    font-size:30px;
    text-align:center;
}
